

.nav-item {
    border-radius: 10px;
    transition: background 0.3s ease;
}

.nav-item:hover {
    background: #e8e9eb;
}

.error-msg {
    font-size: 10px;
    position: relative;
    x: 0;
    y: 10px;
    display: inline;
    color: darkred;
}

@keyframes fullRotation {
    0% {transform: rotate(0deg); }
    100% {transform: rotate(360deg);}
}

.spin {
    animation: fullRotation 1s linear;
}